<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        

    <div class="container">
        <div class="row">
                <div class="col">
                        <form action="/read" method="POST">
                    <table class="table">
              <tr><td>title</td><td><input type="text" class="form-control" name="title"></td></tr>
              <tr><td>author</td><td><input type="text" class="form-control" name="author"></td></tr>
              <tr><td>publisher</td><td><input type="text" class="form-control" name="publisher"></td></tr>
              <tr><td>image</td><td><input type="text" class="form-control" name="image"></td></tr>
              <tr><td></td><td><button class="btn btn-warning" type="submit">submit</button></td></tr>
            </table>
            </form>
            </div>
                
        </div>
    </div>
</body>
</html>